@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
header {
  height: 100px;
  background-color: aqua;
}

:root {
  --text-red: #eb1b2e;
  --color-white: #fff;
  --color-black: #000;
  --bg-gray: #f5f5f5;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
body .layout-content {
  max-width: 1200px;
  margin: 0 auto;
}
body .items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-page .banner {
  max-width: 1600px;
  margin: 0 auto;
}
.products-page .banner .banner-img img {
  width: 100%;
  height: 100%;
}
.products-page .banner .banner-content {
  padding: 35px 0;
  transform: translateY(-4px);
}
.products-page .banner .banner-content .banner-list-card {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.products-page .banner .banner-content .banner-list-card .banner-card {
  display: flex;
  cursor: pointer;
}
.products-page .banner .banner-content .banner-list-card .banner-card img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.products-page .text-active {
  font-weight: 700 !important;
}
.products-page .product-price {
  color: var(--text-red);
  font-size: 18px;
  font-weight: 700;
}
.products-page .block-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.products-page .fs-italic {
  font-style: italic;
  margin: 8px 0;
}
.products-page .bg-gray {
  background-color: var(--bg-gray);
}
.products-page .text-red {
  color: #eb1b2e;
}
.products-page .option-black-218 {
  background-color: #030304;
}
.products-page .option-black-222 {
  background-color: #1a191c;
}
.products-page .option-red-3T3 {
  background-color: #7a2438;
}
.products-page .option-white {
  background-color: #fbfafa;
}

.products-page .product-detail {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 50px 0;
}
.products-page .product-detail .product-img img {
  width: 100%;
}
.products-page .product-detail .product-img .product-text-color {
  font-weight: 700;
  margin: 30px 0 15px;
}
.products-page .product-detail .product-img #color-options {
  display: flex;
  gap: 20px;
}
.products-page .product-detail .product-img #color-options .option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.products-page .product-detail .product-content .product-des {
  font-weight: 500;
}
.products-page .product-detail .product-content .product-price {
  font-size: 22px;
}
.products-page .product-detail .product-content ul {
  padding-left: 0;
  list-style: none;
}
.products-page .product-detail .product-content ul li {
  padding-bottom: 6px;
}
.products-page .product-detail .product-content ul li i {
  padding-right: 10px;
}
.products-page .list-type {
  padding-bottom: 50px;
}
.products-page .list-type .list-product-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.products-page .list-type .list-product-card .product-card .product-card__img {
  display: flex;
  justify-content: center;
}
.products-page .list-type .list-product-card .product-card .product-card__img img {
  width: 100%;
  padding: 25px 0;
  transition: transform 0.3s ease;
}
.products-page .list-type .list-product-card .product-card .product-card__img img:hover {
  transform: scale(1.2);
}
.products-page .list-type .list-product-card .product-card .product-card__content h3 {
  font-size: 22px;
}
.products-page .list-type .list-product-card .product-card .product-card__content span {
  display: flex;
  align-items: center;
}
.products-page .list-type .list-product-card .product-card .product-card__content span p {
  margin: 0 0 0 10px;
}
.products-page .list-type .list-product-card .product-card .product-card__content ul {
  padding-left: 15px;
  margin: 24px 0;
}
.products-page .list-type .list-product-card .product-card .product-card__content ul li {
  margin-bottom: 6px;
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn {
  display: flex;
  justify-content: space-between;
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn button {
  cursor: pointer;
  font-weight: 700;
  border: 1px solid var(--color-black);
  border-radius: 4px;
  padding: 10px 40px;
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn .btn-test-car {
  background-color: var(--color-white);
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn .btn-test-car:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn .btn-advise {
  color: var(--color-white);
  background-color: var(--color-black);
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn .btn-advise:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}
.products-page .incentives {
  padding-bottom: 50px;
}
.products-page .incentives .incentives__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.products-page .incentives .incentives__container .incentives__card {
  background-color: var(--bg-gray);
  border-radius: 4px;
}
.products-page .incentives .incentives__container .incentives__card .card-container {
  padding: 25px 40px;
}
.products-page .incentives .incentives__container .incentives__card .card-container h3 {
  text-align: center;
  font-size: 22px;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul {
  padding-left: 0;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul li i {
  margin-right: 10px;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul li .text-bold-right {
  font-weight: 700;
  margin: 0 6px 0 0;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul li .text-bold-left {
  font-weight: 700;
  margin: 0 0 0 6px;
}
.products-page .incentives .incentives__container .incentives__card .card-container .fs-italic {
  margin: 16px 0;
}
.products-page .incentives .incentives__container .incentives__card .card-container .contact-me {
  font-size: 18px;
}
.products-page .incentives .incentives__container .incentives__card .card-container .contact-me a {
  text-decoration: none;
  font-weight: 700;
  color: var(--text-red);
  margin: 0 6px;
}
.products-page .product-infor {
  padding-bottom: 50px;
}
.products-page .product-infor h2 {
  margin-bottom: 0;
}
.products-page .product-infor .list-card-infor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.products-page .product-infor .list-card-infor img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-page .product-infor .list-card-infor .card-infor_des {
  padding: 10px 20px;
}
.products-page .product-infor .list-card-infor .card-infor_des .card-title {
  font-size: 18px;
  font-weight: 700;
}
.products-page .questions {
  padding-bottom: 50px;
}
.products-page .questions .question-card hr.solid {
  border-top: 1px solid #f5f5f5;
}
.products-page .questions .question-card .question-card__title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.products-page .questions .question-card .question-card__title h4 {
  margin: 8px 0;
  font-weight: 400;
}
.products-page .questions .question-card .question-card__title i {
  margin-right: 12px;
}
.products-page .questions .question-card .question-card__title .fa-circle-minus {
  display: none;
}
.products-page .questions .question-card .question-card__des {
  display: none;
  line-height: 28px;
}

.products-page.wigo .product-detail .product-img img {
  width: 75%;
}
.products-page.wigo .list-type .list-product-card .product-card .product-card__img img {
  width: 80%;
  padding-top: 0;
}/*# sourceMappingURL=style.css.map */