@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
header {
  height: 100px;
  background-color: aqua;
}

:root {
  --text-red: #eb1b2e;
  --color-white: #fff;
  --color-black: #000;
  --bg-gray: #f5f5f5;
  --bg-gray-hover: #e8e8e8;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}
body .layout-content {
  max-width: 1200px;
  margin: 0 auto;
}
body .items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-page .banner {
  max-width: 1600px;
  margin: 0 auto;
}
.products-page .banner .banner-pc img,
.products-page .banner .banner-sm img {
  width: 100%;
  height: 100%;
}
.products-page .banner .banner-sm {
  display: none;
}
.products-page .banner .banner-content {
  padding: 35px 0;
  transform: translateY(-4px);
}
.products-page .banner .banner-content .banner-list-card {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.products-page .banner .banner-content .banner-list-card .banner-card {
  display: flex;
  cursor: pointer;
}
.products-page .banner .banner-content .banner-list-card .banner-card img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.products-page .questions .question-card .question-card__des.show-des {
  max-height: 300px;
  opacity: 1;
}
.products-page .text-uppercase {
  text-transform: uppercase;
}
.products-page .product-price {
  color: var(--text-red);
  font-size: 18px;
  font-weight: 700;
}
.products-page .block-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.products-page .fs-italic {
  font-style: italic;
  margin: 8px 0;
}
.products-page .bg-gray {
  background-color: var(--bg-gray);
}
.products-page .text-red {
  color: #eb1b2e;
}
.products-page .option-clicked {
  border: 2px solid #ccc !important;
  background-clip: content-box;
}

.products-page .product-detail {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 50px 0;
}
.products-page .product-detail .product-img img {
  max-width: 576px;
  width: 100%;
}
.products-page .product-detail .product-img .product-text-color {
  font-weight: 700;
  margin: 30px 0 15px;
}
.products-page .product-detail .product-img #color-options {
  display: flex;
  gap: 20px;
}
.products-page .product-detail .product-img #color-options .option {
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}
.products-page .product-detail .product-content h1 {
  margin-top: 0;
  text-transform: uppercase;
}
.products-page .product-detail .product-content .product-des {
  font-weight: 500;
}
.products-page .product-detail .product-content .product-price {
  font-size: 22px;
}
.products-page .product-detail .product-content ul {
  padding-left: 0;
  list-style: none;
}
.products-page .product-detail .product-content ul li {
  padding-bottom: 6px;
}
.products-page .product-detail .product-content ul li i {
  padding-right: 10px;
}
.products-page .list-type {
  padding-bottom: 50px;
}
.products-page .list-type .list-product-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.products-page .list-type .list-product-card .product-card .product-card__img {
  display: flex;
  justify-content: center;
}
.products-page .list-type .list-product-card .product-card .product-card__img img {
  width: 100%;
  padding: 25px 0;
  transition: transform 0.3s ease;
}
.products-page .list-type .list-product-card .product-card .product-card__img img:hover {
  transform: scale(1.2);
}
.products-page .list-type .list-product-card .product-card .product-card__content h3 {
  font-size: 22px;
}
.products-page .list-type .list-product-card .product-card .product-card__content span {
  display: flex;
  align-items: center;
}
.products-page .list-type .list-product-card .product-card .product-card__content span p {
  margin: 0 0 0 10px;
}
.products-page .list-type .list-product-card .product-card .product-card__content ul {
  padding-left: 15px;
  margin: 24px 0;
}
.products-page .list-type .list-product-card .product-card .product-card__content ul li {
  margin-bottom: 6px;
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn {
  display: flex;
  justify-content: space-between;
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn button {
  cursor: pointer;
  width: 45%;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid var(--color-black);
  border-radius: 4px;
  padding: 12px 0px;
  color: var(--color-black);
  transition: color 0.3s, background-color 0.3s;
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn .btn-test-car {
  background-color: var(--color-white);
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn .btn-test-car:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn .btn-advise {
  color: var(--color-white);
  background-color: var(--color-black);
}
.products-page .list-type .list-product-card .product-card .product-card__content .product-card__btn .btn-advise:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}
.products-page .incentives {
  padding-bottom: 50px;
}
.products-page .incentives .incentives__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.products-page .incentives .incentives__container .incentives__card {
  background-color: var(--bg-gray);
  border-radius: 4px;
}
.products-page .incentives .incentives__container .incentives__card .card-container {
  padding: 25px 40px;
}
.products-page .incentives .incentives__container .incentives__card .card-container h3 {
  text-align: center;
  font-size: 22px;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul {
  padding-left: 0;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul li i {
  margin-right: 10px;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul li .text-bold-right {
  font-weight: 700;
  margin: 0 6px 0 0;
}
.products-page .incentives .incentives__container .incentives__card .card-container ul li .text-bold-left {
  font-weight: 700;
  margin: 0 0 0 6px;
}
.products-page .incentives .incentives__container .incentives__card .card-container .fs-italic {
  margin: 16px 0;
}
.products-page .incentives .incentives__container .incentives__card .card-container .contact-me {
  font-size: 18px;
}
.products-page .incentives .incentives__container .incentives__card .card-container .contact-me a {
  text-decoration: none;
  font-weight: 700;
  color: var(--text-red);
  margin: 0 6px;
}
.products-page .product-infor {
  padding-bottom: 50px;
}
.products-page .product-infor h2 {
  margin-bottom: 0;
}
.products-page .product-infor .list-card-infor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.products-page .product-infor .list-card-infor img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-page .product-infor .list-card-infor .card-infor_des {
  padding: 10px 20px;
}
.products-page .product-infor .list-card-infor .card-infor_des .card-title {
  font-size: 18px;
  font-weight: 700;
}
.products-page .questions {
  padding-bottom: 50px;
}
.products-page .questions .question-card hr.solid {
  border-top: 1px solid #f5f5f5;
}
.products-page .questions .question-card .question-card__title {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.products-page .questions .question-card .question-card__title i {
  margin-right: 12px;
  transition: transform 0.6s ease;
}
.products-page .questions .question-card .question-card__title i.active {
  transform: rotate(90deg);
}
.products-page .questions .question-card .question-card__title h4 {
  margin: 8px 0;
}
.products-page .questions .question-card .question-card__des {
  margin: 0;
  line-height: 28px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 0.8s ease;
}

.incentives__card {
  position: relative;
  z-index: 1;
}

.incentives__card .card-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-gray-hover);
  z-index: -1;
  transition: 0.5s;
}

.incentives__card .card-container:hover::before {
  width: 100%;
}

.products-page.wigo .product-detail .product-img img,
.products-page.yaris .product-detail .product-img img {
  width: 75%;
}

.products-page.wigo .list-type .list-product-card .product-card .product-card__img img {
  width: 80%;
  padding-top: 0;
}

.products-page.fortuner .list-type .list-product-card .product-card .product-card__content h3 {
  height: 56px;
}

.land-cruiser.products-page .product-detail .product-img img {
  max-width: 100%;
}

@media only screen and (max-width: 1280px) {
  .layout-content {
    width: 90%;
  }
}
@media only screen and (max-width: 992px) {
  .products-page .product-detail .product-img #color-options {
    flex-wrap: wrap;
    max-width: 302px;
  }
  .products-page.wigo .product-detail .product-img img,
  .products-page.yaris .product-detail .product-img img {
    width: 100%;
  }
  .products-page .product-detail .product-content h1 {
    margin-top: 0;
  }
  .products-page .list-type .list-product-card {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .products-page .product-infor .list-card-infor img {
    height: 200px;
  }
  .products-page .incentives .incentives__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .products-page .banner .banner-sm {
    display: block;
  }
  .products-page .banner .banner-pc {
    display: none;
  }
  .products-page .product-detail .product-img #color-options {
    max-width: 300px;
    gap: 12px;
  }
  .products-page .product-detail .product-img #color-options .option {
    width: 40px;
    height: 40px;
  }
  .products-page .banner .banner-content .banner-list-card {
    max-width: 272px;
  }
  .products-page .product-detail .product-content h1 {
    font-size: 28px;
  }
  .products-page .product-detail,
  .products-page .product-infor .list-card-infor,
  .products-page .list-type .list-product-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .products-page.fortuner .list-type .list-product-card .product-card .product-card__content h3 {
    height: auto;
  }
}
@media only screen and (max-width: 428px) {
  .products-page .banner .banner-content {
    padding: 20px 0;
  }
  .products-page .banner .banner-content .banner-list-card .banner-card {
    flex-direction: column;
    align-items: center;
  }
  .products-page .banner .banner-content .banner-list-card .banner-card img {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }
  .products-page .banner .banner-content .banner-list-card .banner-card p {
    margin-bottom: 0;
    font-size: 14px;
  }
  .products-page .block-title {
    font-size: 26px;
  }
  .products-page .incentives .incentives__container .incentives__card .card-container {
    padding: 25px;
  }
  .products-page .incentives .incentives__container .incentives__card .card-container h3 {
    margin-top: 0;
  }
}
@media only screen and (max-width: 360px) {
  .products-page .incentives .incentives__container .incentives__card .card-container .contact-me {
    line-height: 26px;
  }
  .products-page .incentives .incentives__container .incentives__card .card-container .contact-me a {
    margin: 0;
  }
  .products-page .product-detail .product-img #color-options {
    flex-wrap: wrap;
    max-width: 238px;
  }
}/*# sourceMappingURL=style.css.map */