@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
header {
  height: 100px;
  background-color: aqua;
}

:root {
  --text-red: #eb1b2e;
  --color-white: #fff;
  --color-black: #000;
  --bg-gray: #f5f5f5;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  .layout-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.products-page {
  .banner {
    max-width: 1600px;
    margin: 0 auto;
    .banner-img {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .banner-content {
      padding: 35px 0;
      transform: translateY(-4px);
      .banner-list-card {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        margin: 0 auto;
        .banner-card {
          display: flex;
          cursor: pointer;
          img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .text-active {
    font-weight: 700 !important;
  }
  .product-price {
    color: var(--text-red);
    font-size: 18px;
    font-weight: 700;
  }
  .block-title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .fs-italic {
    font-style: italic;
    margin: 8px 0;
  }
  .bg-gray {
    background-color: var(--bg-gray);
  }
  .text-red {
    color: #eb1b2e;
  }
  .option-black-218 {
    background-color: #030304;
  }
  .option-black-222 {
    background-color: #1a191c;
  }
  .option-red-3T3 {
    background-color: #7a2438;
  }
  .option-white {
    background-color: #fbfafa;
  }
}

.products-page {
  .product-detail {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 50px 0;
    .product-img {
      img {
        width: 100%;
      }
      .product-text-color {
        font-weight: 700;
        margin: 30px 0 15px;
      }
      #color-options {
        display: flex;
        gap: 20px;
        .option {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #cccccc;
          cursor: pointer;
        }
        // .option-active {
        // }
      }
    }
    .product-content {
      .product-des {
        font-weight: 500;
      }
      .product-price {
        font-size: 22px;
      }
      ul {
        padding-left: 0;
        list-style: none;
        li {
          padding-bottom: 6px;
          i {
            padding-right: 10px;
          }
        }
      }
    }
  }
  .list-type {
    padding-bottom: 50px;
    .list-product-card {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      .product-card {
        .product-card__img {
          display: flex;
          justify-content: center;
          img {
            width: 100%;
            padding: 25px 0;
            transition: transform 0.3s ease;
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        .product-card__content {
          h3 {
            font-size: 22px;
          }
          span {
            display: flex;
            align-items: center;
            p {
              margin: 0 0 0 10px;
            }
          }
          ul {
            padding-left: 15px;
            margin: 24px 0;
            li {
              margin-bottom: 6px;
            }
          }
          .product-card__btn {
            display: flex;
            justify-content: space-between;
            button {
              cursor: pointer;
              font-weight: 700;
              border: 1px solid var(--color-black);
              border-radius: 4px;
              padding: 10px 40px;
            }
            .btn-test-car {
              background-color: var(--color-white);
              &:hover {
                color: var(--color-white);
                background-color: var(--color-black);
              }
            }
            .btn-advise {
              color: var(--color-white);
              background-color: var(--color-black);
              &:hover {
                color: var(--color-black);
                background-color: var(--color-white);
              }
            }
          }
        }
      }
    }
  }
  .incentives {
    padding-bottom: 50px;
    .incentives__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      .incentives__card {
        background-color: var(--bg-gray);
        border-radius: 4px;
        .card-container {
          padding: 25px 40px;
          h3 {
            text-align: center;
            font-size: 22px;
          }
          ul {
            padding-left: 0;
            li {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              i {
                margin-right: 10px;
              }
              .text-bold-right {
                font-weight: 700;
                margin: 0 6px 0 0;
              }
              .text-bold-left {
                font-weight: 700;
                margin: 0 0 0 6px;
              }
            }
          }
          .fs-italic {
            margin: 16px 0;
          }
          .contact-me {
            font-size: 18px;
            a {
              text-decoration: none;
              font-weight: 700;
              color: var(--text-red);
              margin: 0 6px;
            }
          }
        }
      }
    }
  }
  .product-infor {
    padding-bottom: 50px;
    h2 {
      margin-bottom: 0;
    }
    .list-card-infor {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
      }
      .card-infor_des {
        padding: 10px 20px;
        .card-title {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
  .questions {
    padding-bottom: 50px;
    .question-card {
      hr.solid {
        border-top: 1px solid #f5f5f5;
      }
      .question-card__title {
        display: flex;
        align-items: center;
        cursor: pointer;
        h4 {
          margin: 8px 0;
          font-weight: 400;
        }
        i {
          margin-right: 12px;
        }
        .fa-circle-minus {
          display: none;
        }
      }
      .question-card__des {
        display: none;
        line-height: 28px;
      }
    }
  }
}

.products-page.wigo {
  .product-detail {
    .product-img {
      img {
        width: 75%;
      }
    }
  }
  .list-type .list-product-card .product-card .product-card__img img {
    width: 80%;
    padding-top: 0;
  }
}
